name: Lint with Ruff

on:
  push:
    branches: [main, staging]
  pull_request:
    branches: [main, staging]

jobs:
  ruff-check:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./backend
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Official GitHub action for checking out code
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'poetry'
      
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: latest
          virtualenvs-create: true
          virtualenvs-in-project: true
      
      - name: Install dependencies
        run: poetry install --no-interaction --no-root --with dev
      
      - name: Run Ruff check
        run: poetry run ruff check .
      
      - name: Run Ruff format check (optional)
        run: poetry run ruff format --check .